name: client_information
description: This is a plugin that lets you get the basic information from your application's client. It's easy to use and supports different platforms (Android, iOS, and Web).
version: 2.1.2
homepage: https://github.com/Kent1011/client_information

environment:
  sdk: '>=2.12.0 <4.0.0'
  flutter: '>=1.20.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  uuid: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.11.0

flutter:
  plugin:
    platforms:
      android:
        package: kent.chien.client_information
        pluginClass: ClientInformationPlugin
      ios:
        pluginClass: ClientInformationPlugin
      web:
        pluginClass: ClientInformationWeb
        fileName: client_information_web.dart
